Source: golang-github-weppos-publicsuffix-go
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Peymaneh <peymaneh@posteo.net>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any,
               golang-golang-x-net-dev (>= 1:0.12.0),
               golang-github-google-go-github-dev (>= 50.2.0)
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-weppos-publicsuffix-go
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-weppos-publicsuffix-go.git
Homepage: https://github.com/weppos/publicsuffix-go
XS-Go-Import-Path: github.com/weppos/publicsuffix-go

Package: golang-github-weppos-publicsuffix-go-dev
Architecture: all
Multi-Arch: foreign
Depends: golang-golang-x-net-dev (>= 1:0.12.0),
         golang-github-google-go-github-dev (>= 50.2.0),
         ${misc:Depends}
Description: Domain name parser on the Public Suffix List (library)
 Public Suffix for Go The package publicsuffix provides a Go domain name
 parser based on the Public Suffix List (http://publicsuffix.org/).
 .
 GoDoc
 (https://pkg.go.dev/github.com/weppos/publicsuffix-go/publicsuffix)
 .
 Tests
 (https://github.com/weppos/publicsuffix-go/actions?query=workflow%3ATests)
 .
 There are 3 different test suites built into this library:
   * Acceptance: the acceptance test suite contains some high level
 tests to ensure the library behaves as expected
   * PSL: the PSL test suite runs the library against the official Public
 Suffix test cases
 (https://github.com/publicsuffix/list/blob/master/tests/tests.txt)
   * Unit: the unit test suite stresses the various single components of this
 package
